/* 나눔명조 폰트 */
.nanum-myeongjo-regular {
    font-family: "Nanum Myeongjo", serif;
    font-weight: 400;
    font-style: normal;
}

.nanum-myeongjo-bold {
    font-family: "Nanum Myeongjo", serif;
    font-weight: 700;
    font-style: normal;
}

.nanum-myeongjo-extrabold {
    font-family: "Nanum Myeongjo", serif;
    font-weight: 800;
    font-style: normal;
}
/* 나눔명조 폰트 끝 */


/* Interop 폰트 */
@font-face {
    font-family: 'Interop';
    src: url('https://raw.githubusercontent.com/payw-org/Interop/main/web/fonts/Interop-Regular.woff2') format('woff2'),
        url('https://raw.githubusercontent.com/payw-org/Interop/main/web/fonts/Interop-Regular.woff') format('woff');
    font-weight: normal;
    font-display: swap;
}
/* Interop 폰트 끝 */